{{!
    This file is part of Moodle - http://moodle.org/
}}
<div class="lchp-summarygrid">
    {{#cards}}
        <article class="lchp-card {{stateclass}}">
            <span class="lchp-card__label">{{label}}</span>
            <strong class="lchp-card__value">{{value}}</strong>
        </article>
    {{/cards}}
</div>
